body{
background-color: #ddffbc;
border-radius: 100%;
font-size: 32px;
font-family: 'Bubblegum Sans', cursive, serif;
text-align: center;
}

h1{
  color: green;
  width: auto;
  margin: 0 auto;
  font-family: 'Sacramento', cursive, serif;
}

h2{
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-family: 'Montserrat', sans-serif;
}

.FWProfilePic{
  border-radius: 100%;
  height: 400px;
}

.top-container{
  color: green;
position: relative;
top: 100px;
}

.top-container img{
margin-top: 10px;
}

.middle-container{
  color: green;
position: relative;
top: 100px;
}

.ShortSummary{
  font-size: 18px;
font-family: 'Bubblegum Sans', cursive, serif;
}

.Cloud{
  height: 200px;
  background-color: #ddffbc;
}

.glitter{
  height: 100px;
}

.regularParagraph{
  font-size: 20px;
font-family: 'Bubblegum Sans', cursive, serif;
width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.menu lu{
list-style: none;
  text-decoration: none;
}

.menu li{
  display: inline;
  padding-right: 20px;;
  padding-left: 20px;
}

.menu ul > li > a{
    text-decoration: none;
    color: inherit;
}

.menu{
  width: 100%;
  position: absolute;
margin-top: 5px;

}
